@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap");

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.logo-navbar {
  background-image: url("app/components/Navbar/ptgaLogo.png");
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.solid-navbar {
  background-color: blueviolet;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
